
<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div>
    <span>still in action: {{hero.isLive ? ':)' : ':('}}</span>
  </div>
  <button (click)="save(hero)">Save</button>

  <button (click)="goBack()">Go Back</button>
</div>