
<div *ngIf="messageService.getMessages().length">
  <h2>Messages</h2>
  <button class="clear" (click)="messageService.clear()" >
    Clear
  </button>
  <div *ngFor="let message of messageService.getMessages()">
    {{message}}
  </div>
</div>